<h1>Chairs</h1>

<%= form_for(@form, url: items_path(type: :chairs), remote: true) do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="form-group col-sm-4">
          <%= f.label :product, 'Chairs' %>
          <%= f.select :product, @products.map { |p| [p.name, p.id] },
              { include_blank: 'Please choose a product'},
              class: 'form-control selectpicker select-filter' %>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          <%= f.label :quantity, 'QUANTITY:' %>
          <%= f.text_field :quantity, class: "form-control text-right" %>
        </div>

        <div class="form-group col-sm-4">
          <%= f.label :building, 'LOCATION:' %>
          <%= f.text_field :building, class: "form-control text-right" %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-4">
          <%= f.label :floor, 'Floor:' %>
          <%= f.text_field :floor, class: "form-control text-right" %>
        </div>

        <div class="form-group col-sm-4">
          <%= f.label :room, 'Floor:' %>
          <%= f.text_field :room, class: "form-control text-right" %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-4">
          <%= f.submit 'ADD TO CART', class: "btn btn-primary btn-radius text-bold", id: 'add_to_cart_btn' %>
        </div>
      </div>

    </div>
  </div>
<% end %>