<h1>Cubicles</h1>

<%= form_for(@form_object, url: items_path(type: :cubicles), remote: true) do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div id="error_explanation" class="form-group col-sm-8">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          <%= f.label :product, 'Cubicles' %>
          <%= f.select :product, @products.map { |p| [p.name, p.id] },
              { include_blank: 'Please choose a product'},
              class: 'form-control selectpicker select-filter' %>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          <%= f.label :building, 'Building:' %>
          <%= f.select :building, @buildings.map { |p| [p.name, p.id] },
              { include_blank: 'Please choose a building'},
              class: 'form-control selectpicker select-filter' %>
        </div>
        <div class="form-group col-sm-4">
          <%= f.label :floor, 'Floor:' %>
          <%= f.select :floor, @floors.map { |p| [p.name, p.id] },
              { include_blank: 'Please choose a floor'},
              class: 'form-control selectpicker select-filter' %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-4">
          <%= f.label :quantity, 'Quantity:' %>
          <%= f.text_field :quantity, class: "form-control text-right" %>
        </div>
        <div class="form-group col-sm-4">
          <%= f.label :room, 'Room:' %>
          <%= f.text_field :room, class: "form-control text-right" %>
        </div>
      </div>

      <div class="row">
        <%= f.fields_for :extra_info do |p| %>
          <div class="form-group col-sm-4">
            <%= p.label :number_of_walls %><br>
            <%= p.text_field :number_of_walls %>
          </div>

          <div class="form-group col-sm-4">
            <%= p.label :walls_height %><br>
            <%= p.text_field :walls_height %>
          </div>
        <% end %>
      </div>

      <div class="row">
        <div class="form-group col-sm-4">
          <%= f.submit 'ADD TO CART', class: "btn btn-primary btn-radius text-bold", id: 'add_to_cart_btn' %>
          <%= link_to 'CHECKOUT', checkout_path, class: "btn btn-primary btn-radius text-bold" %>
        </div>
      </div>

    </div>
  </div>
<% end %>
