<h1>Books</h1>

<%= form_for(@form, url: items_path(type: :books), remote: true) do |f| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="form-group col-sm-4">
          <%= f.label :book, 'BOOK' %>
          <%= f.select :book, @books.map { |b| [b.name, b.id] },
              { include_blank: 'Please choose a book'},
              class: 'form-control selectpicker select-filter' %>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          <%= f.label :quantity, 'QUANTITY:' %>
          <%= f.text_field :quantity, class: "form-control text-right" %>
        </div>

        <div class="form-group col-sm-4">
          <%= f.label :location, 'LOCATION:' %>
          <%= f.text_field :location, class: "form-control text-right" %>
        </div>

        <div class="form-group col-sm-4">
          <%= f.label :color, 'COLOR:' %>
          <%= f.text_field :color, class: "form-control text-right" %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-4">
          <%= f.submit 'ADD TO CART', class: "btn btn-primary btn-radius text-bold", id: 'add_to_cart_btn' %>
        </div>
      </div>

    </div>
  </div>
<% end %>